nav {
	background-color: #3DA0FD;

}
nav p, a, i{
	color: white;
	margin-right: 30px;

}
.form-group img {
	width: auto;
	height: 30px;
	
} 
button {
	background-color: green;
	color: white;
	border-radius: 5px;
}
.target {
	background-color: #A8D6FA;
	width: 250px;
	height: 100px;
	display: inline-block;
}
.tarjet input {
	margin-top: 20px;
}
.btn btn-primary {
	margin-right: auto;
}